{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : tableau de gestion synthèse gynéco
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @edited fr33z00 <https://github.com/fr33z00>
 #}

{% import "macroForm.html.twig" as f %}
<div class="row changeObserv" id="synthesePatiente" style="">

    <div class="jumbotron col-md-12">
        {{ f.formbuilder(page.formSynthese , 'gynObsSyntheseGyn' ) }}
        {% for v in page.typeCsCla %}
            <button type="button" class="btn btn-success btn-sm addNewCS" style="margin-bottom : 3px;" data-parentID='0' data-instanceMere="0" data-formtocall="{{ v.formValues }}" data-csID="{{ v.id }}" data-mode="create">{{ v.label|e }}</button>
        {% endfor %}

        {% if page.grossesseEnCours.id == '' and page.patient.administrativeDatas.birthdate.age|number_format < 60 and page.patient.administrativeDatas.birthdate.age|number_format > 15 and page.patient.administrativeDatas.administrativeGenderCode.value == 'F' %}
            <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/module/actions/installNewGro/{{ page.patient.id }}/" role="button" class="btn btn-info btn-sm float-right m-1 newGro">Nouvelle grossesse</a>
        {% endif %}
    </div>

</div>
