{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : tableau de gestion grossesse en cours
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% import "macroForm.html.twig" as f %}
<div class="row changeObserv" id="syntheseGrossesseEnCours">
  <div class="jumbotron col-md-12">

    <div class="row">
      <div class="col">
        <a
          id="closeGro"
          class="close"
          aria-label="Close"
          title="Fermer définitivement cette grossesse"
          href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/module/actions/closeGro/{{ page.patient.id }}/{{ page.grossesseEnCours.id }}/"
          style="z-index : 10000">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
    </div>

    {# Formulaire de synthèse grossesse #}
    {{ f.formbuilder(page.formSyntheseGrossesse ,'medGeSyntheseObs' ) }}

    {# Bouton type consultation #}
    {% for v in page.typeCsGro %}
      <button type="button" class="btn btn-info btn-sm addNewCS" style="margin-bottom : 3px;" data-parentid="{{ page.grossesseEnCours.id }}" data-formtocall="{{ v.formValues }}" data-csid="{{ v.id }}" data-mode="create">{{ v.label|e }}</button>
    {% endfor %}

    {% if page.formJavascript.medGeSyntheseObs is not empty %}
      <script>
        {{ page.formJavascript.medGeSyntheseObs }}
      </script>
    {% endif %}

  </div>
</div>
