{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu de consultation adulte module médecine générale
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}



<p style="text-align : right;">New York, le {{ tag.date|date("d/m/Y") }}</p>

<h2 style="text-align : center">{{ tag.identiteUsuelleTitreCourtDdn }}</h2>

<h3>Consultation du jour</h3>

{% if tag.medGeCsMotifDuJour %}Motif de consultation : {{ tag.medGeCsMotifDuJour }}<br><br>{% endif %}

{% if tag.taSystolique %}TAS : {{ tag.taSystolique }} mmHg<br>{% endif %}
{% if tag.taDiastolique %}TAD : {{ tag.taDiastolique }} mmHg<br>{% endif %}
{% if tag.freqCardiaque %}FC : {{ tag.freqCardiaque }} bpm<br>{% endif %}
{% if tag.temperature %}Température : {{ tag.temperature }} °C<br>{% endif %}
{% if tag.spO2 %}SpO2 : {{ tag.spO2 }} %<br>{% endif %}
{% if tag.glycemieCapillaire %}Glycémie capillaire : {{ tag.glycemieCapillaire }} g/L<br>{% endif %}
<br><p>Examen du jour :<br>{{ tag.medGeCsExamenDuJour|nl2br }}</p>

{% if tag.medGeCsConclusionDuJour %}<br>Synthèse : {{ tag.medGeCsConclusionDuJour }}{% endif %}
